* {
  box-sizing: border-box;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-container {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  height: 40px;
  border: 2px solid rgb(10, 162, 223);
}

.nav-bar {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}

.nav-title {
  align-self: center;
  font-size: 2rem;
  background: -webkit-linear-gradient(rgb(94, 215, 231), rgb(98, 8, 216));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}

.nav-items {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  color: rgb(55, 60, 68);
  align-self: center;
  padding-top: 5px;
  height: 30px;
}

.nav-items:hover {
  color: rgb(69, 167, 231);
}

.border-right {
  border-right: 2px solid rgb(10, 162, 223);
  padding-right: 20px;
}

table {
  width: 50%;
  margin: auto;
  border-collapse: collapse;
  border: 2px solid rgb(30, 147, 214);
}

tr {
  font-size: 1.3rem;
  font-weight: bold;
  color: rgb(29, 29, 28);
}

tr:nth-child(odd) {
  background: rgb(221, 217, 217);
}

td {
  width: 30%;
  padding: 10px;
  word-spacing: 5px;
}

h2,
h1 {
  text-align: center;
  margin: 7% 0;
  font-size: 2.3rem;
  background: -webkit-linear-gradient(rgb(14, 207, 221), rgb(72, 34, 121));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.book-form {
  display: flex;
  width: 40%;
  align-items: center;
  padding: 3%;
  background-color: rgb(228, 235, 238);
  border: 2px solid rgb(37, 137, 231);
  border-radius: 50px;
}

form input {
  width: 80%;
  margin: 3%;
  height: 50px;
  font-size: 1.3rem;
  box-shadow: 1px 2px rgb(27, 27, 27);
}

#submit {
  width: 25%;
  padding: 5px;
  cursor: pointer;
  background: rgb(32, 107, 3);
  color: bisque;
  font-size: 1.3rem;
}

.delete {
  box-shadow: 5px 6px rgb(56, 53, 53);
  margin-bottom: 10px;
  cursor: pointer;
  font-size: 1.3rem;
  background: rgb(255, 0, 0);
  color: bisque;
}

#caseDelete {
  width: 1%;
}

#hide {
  display: none;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info {
  background: rgb(212, 234, 247);
  padding: 4%;
  border: 2px solid rgb(4, 57, 126);
  border-radius: 50px;
}

.info p,
ul {
  font-size: 1.3rem;
  color: rgb(39, 39, 39);
}

footer {
  display: flex;
  align-items: center;
  width: 99%;
  margin-top: 100px;
  padding: 0 20px;
  height: 40px;
  border: 2px solid rgb(10, 162, 223);
  position: absolute;
  bottom: 0;
}

.allhidden {
  display: none;
}

#date {
  color: #1c3855;
  font-size: 1.2rem;
  font-weight: bold;
  align-self: flex-end;
  margin: 2%;
}
